.login {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  margin: 20vh auto 0; /* Añadido para centrar verticalmente */
  position: relative;
}

/* Resto del CSS sin cambios */
.login h2 {
  padding: 20px;
  margin: 0;
  cursor: pointer;
}

.login h2.active {
  background-color: #3498db;
  color: #fff;
}

.login h2.nonactive {
  background-color: #ecf0f1;
  color: #333;
}

form {
  padding: 20px;
  box-sizing: border-box;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

span {
  display: block;
  text-align: left;
  color: #7f8c8d;
}

.custom-checkbox {
  margin-right: 5px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

hr {
  margin: 15px 0;
  border: none;
  border-top: 1px solid #ecf0f1;
}

a {
  text-decoration: none;
  color: #3498db;
}
